.background{
    margin-top: 25px;
}

.title, .mainText, .CommentsBlock{
    margin: auto;
    width: 60%;
}

.mainText{
    margin: 25px auto;
}
.title{
    line-height: 28px;
}
.mainText p{
    font-family: 'Gilroy';
    font-size: 22px;
    line-height: 25px;
}

.CommentsBlockTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CommentsBlockTitle .line{
    border: 1px solid black;
    width: 100%;
    height: 0px;
    margin: 10px 0 0 10px;
}
