.loginForm{
    display: flex;
    flex-direction: column;
    width: 425px;
    margin: auto;
}

.loginForm input{
    height: 65px;
    margin-top: 2vh;
    font-size: 24px;
    font-family: 'Gilroy';
    padding: 0 25px;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
}

.loginForm h1{
    text-align: right;
    padding-top: 7.5vh;
}

.loginForm input::placeholder{
    color: black;
}

.loginForm input[type="submit"]{
    font-family: 'Gilroy-Bold';
    font-size: 28px;
    color: white;
    background: #383838;
    margin-bottom: 7.5vh;
}