*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("./Fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy;
  src: url("./Fonts/Gilroy-Regular.ttf");
}
.App{
  width: 1200px;
  margin: auto;
}
body{
  overflow-y: scroll;
}